@page "/aiform"
@attribute [TabItemOption(Text = "AI表格识别")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.OCR#readme-body-tab"><h4>表格识别 AI Form</h4></a>

<AiForm ShowUI="true" Debug="true" OnReadResult="OnResult" /> ModelId="prebuilt-read"

