@page "/aiform"
@attribute [TabItemOption(Text = "AI表格识别")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.OCR#readme-body-tab"><h4>表格识别 AI Form</h4></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/AiFormPage.razor"><h5>页面源码</h5></a>

<AiForm ShowUI="true" Debug="true" OnReadResult="OnResult" /> ModelId="prebuilt-read"

