@page "/AzureOpenAI"
@attribute [TabItemOption(Text = "AzureOpenAI")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.OCR#readme-body-tab"><h4>Azure OpenAI</h4></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/AzureOpenAIPage.razor"><h5>页面源码</h5></a>

<AzureOpenAI /> 