@page "/baidumap"
@attribute [TabItemOption(Text = "百度地图 BaiduMap")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.BaiduMap#readme-body-tab"><h3>百度地图 Baidu Map</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/BaiduMapPage.razor"><h4>页面源码</h4></a>


<p>@message</p>

<BaiduMap OnError="@OnError" OnResult="@OnResult" BaiduKey="D2b4558ebed15e52558c6a766c35ee73" />
<AttributeTable Items="@GetAttributes()" />
