@page "/barcodeGenerators"
@attribute [TabItemOption(Text = "条码生成器", Icon = "fa fa-barcode")]
@inherits AppComponentBase
@using System.ComponentModel

@using BootstrapBlazor.Components

<a href="https://www.nuget.org/packages/BootstrapBlazor.BarcodeGenerator#readme-body-tab"><h3>条码生成器 Barcode Generator</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/BarcodeGenerators.razor"><h5>页面源码</h5></a>

<Tab IsLazyLoadTabItem>
    <TabItem Text="条码生成器">
        <div style="max-width: 554px;">
            <div class="col-12" style="text-align: center; vertical-align: middle;">
                <BarCodeGenerator @ref="barCodes" Value="@value" Options="Options" OnResult="OnResult" />
            </div>
            <GroupBox Title="参数">
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <BootstrapInput @bind-Value="value" OnEnterAsync="_=>OnChanged()" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="Options.Type" ShowLabel="true" OnValueChanged="OnValueChanged" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Slider @bind-Value="Options.Width" Min="1" Max="4" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Slider @bind-Value="Options.Height" Min="10" Max="150" ShowLabel="true" Step="5" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Slider @bind-Value="Options.Margin" Min="0" Max="25" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Switch @bind-Value="Options.Flat" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <ColorPicker @bind-Value="Options.Background" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <ColorPicker @bind-Value="Options.LineColor" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Switch @bind-Value="Options.DisplayValue" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <BootstrapInput @bind-Value="Options.Text" ShowLabel="true" OnEnterAsync="_=>OnChanged()" OnValueChanged="_=>OnChanged()"/>
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="Options.TextAlign" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="Options.TextPosition" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="Options.Font" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="Options.FontOptions" ShowLabel="true" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Slider @bind-value="Options.FontSize" Min="8" Max="36" ShowLabel="true" DisplayText="字体大小" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Slider @bind-value="Options.TextMargin" Min="-15" Max="40" ShowLabel="true" DisplayText="文字间距" OnValueChanged="_=>OnChanged()" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <Textarea Value="@svg" ShowLabel="true" DisplayText="SVG内容" />
                    </div>
                </div>
            </GroupBox>


            @*<Textarea @bind-Value="value" />*@
        </div>
    </TabItem>
    <TabItem Text="批量">
        <BarCodeGenerator Type="EnumBarcodeType.CODE128" Value="Hi!" />
        <BarCodeGenerator Type="EnumBarcodeType.EAN13" Value="1234567890128" />
        <BarCodeGenerator Type="EnumBarcodeType.EAN8" Value="12345670" />
        <BarCodeGenerator Type="EnumBarcodeType.EAN5" Value="12345" />
        <BarCodeGenerator Type="EnumBarcodeType.EAN2" Value="12" />
        <BarCodeGenerator Type="EnumBarcodeType.UPC" Value="123456789012" />
        <BarCodeGenerator Type="EnumBarcodeType.CODE39" Value="Hello" />
        <BarCodeGenerator Type="EnumBarcodeType.ITF14" Value="1234567890123" />
        <BarCodeGenerator Type="EnumBarcodeType.ITF14" Value="123456" />
        <BarCodeGenerator Type="EnumBarcodeType.MSI" Value="12345" />
    </TabItem>
    <TabItem Text="简单配置">
        <BarCodeGenerator Options="Options1" />
        <BarCodeGenerator Options="Options2" />
        <BarCodeGenerator Options="Options3" />
    </TabItem>
</Tab>
@code{
    BarcodeGeneratorOption Options { get; set; } = new();

    BarcodeGeneratorOption Options1 { get; set; } = new()
    {
        Value = "Hi!",
        FontSize = 40,
        Background = "#4b8b7f",
        LineColor = "#ffffff",
        Margin = 40,
        TextMargin = 80
    };

    BarcodeGeneratorOption Options2 { get; set; } = new()
    {
        Value = "Hi!",
        TextAlign = EnumBarcodeTextAlign.left,
        TextPosition = EnumTextPosition.top,
        Font = EnumBarcodeFont.Cursive,
        FontOptions = EnumBarcodeFontOption.bold,
        FontSize = 40,
        TextMargin = 15,
        Text = "Special"
    };


    BarcodeGeneratorOption Options3 { get; set; } = new()
    {
        Value = "1234",
        Type = EnumBarcodeType.pharmacode,
        DisplayValue = false,
        Height = 50,
        Width = 6
    };


    private Dictionary<string, string> defaultValues = new Dictionary<string, string>()
{
        { "CODE128", "Example 1234"},
        { "CODE128A", "EXAMPLE"},
        { "CODE128B", "Example text"},
        { "CODE128C", "12345678"},
        { "EAN13", "1234567890128"},
        { "EAN8", "12345670"},
        { "EAN5", "12340"},
        { "EAN2", "10"},
        { "UPC", "123456789999"},
        { "CODE39", "EXAMPLE TEXT"},
        { "ITF14", "10012345000017"},
        { "ITF", "123456"},
        { "MSI", "123456"},
        { "MSI10", "123456"},
        { "MSI11", "123456"},
        { "MSI1010", "123456"},
        { "MSI1110", "123456"},
        { "pharmacode", "1234"}
    };

    [DisplayName("条码文字")]
    string? value { get; set; } = "12345";

    [DisplayName("SVG内容")]
    string? svg { get; set; }

    BarCodeGenerator? barCodes;

    private async Task Gencode()
    {
        await barCodes!.GenerateBarcode(string.IsNullOrWhiteSpace(value) ? "111111" : value);
    }

    private Task OnResult(string value)
    {
        svg = value;
        return Task.CompletedTask;
    }

    private async Task OnValueChanged(EnumBarcodeType type)
    {
        value = defaultValues[type.ToString()];
        await barCodes!.GenerateBarcode(value);
    }

    private async Task OnRangeChanged(string value)
    {
        await barCodes!.GenerateBarcode(value);
    }

    private async Task OnChanged()
    {
        await barCodes!.GenerateBarcode(value);
    }
}
