@page "/ImageCroppers"
@attribute [TabItemOption(Text = "视频播放器")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.ImageCropper#readme-body-tab"><h4>图像裁剪 ImageCropper</h4></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/ImageCroppers.razor"><h5>页面源码</h5></a>

<ImageCropper @ref="cropper" Url="@images[0]" DefaultButton="false" />
<BootstrapInputGroup>
    <Button Text="OK" OnClick="(async () => Base64 = await cropper.Crop())" />
    <Button Text="复位" OnClick="cropper.Reset" />
    <Button Text="替换" OnClick="(async () => {
                                   index = index == 0 ? 1 : 0;
                                   await cropper.Replace(images[index]);
                               })" />
</BootstrapInputGroup>

<br />
<Textarea Value="@Base64" rows="3" />

@code{

    ImageCropper? cropper;

    string[] images = ["./_content/DemoShared/test.jpg", "./_content/DemoShared/icon-512.png"];

    int index = 0;

    string? Base64 { get; set; } 

 
}
