@page "/"

<h1>Demo de Densen.Extensions.BootstrapBlazor</h1>
<p><em>@DateTime.Now.ToString("HH:mm:ss")</em></p>

@if (mines == null)
{
    <p><em>Loading...</em></p>
    <h8><em>build001</em></h8>
}
else
{
    <Tab>
        <TabItem Text="TableLazyHero">
            <Table TItem="Rootobject"
                   Items="@mineStatuss"
                   AutoGenerateColumns="true" />
            <TableLazyHero @ref="list1"
                           TItem="NowInfo"
                           ShowColumnList="true"
                           刷新="刷新数据"
                           TableSize="TableSize.Normal"
                           DoubleClickToEdit="false"
                           HeaderStyle=TableHeaderStyle.None
                           IsPagination="false"
                           ShowRefresh="false"
                           IsStriped="false"
                           RenderMode="TableRenderMode.Auto"
                           ShowDefaultButtons=true
                           IsFixedHeader="true" Height="500"
                           IsMultipleSelect=true
                           TableImgFields='new List<TableImgField>(){new TableImgField(),new TableImgField(){Field="Photo2",ColumnText="历史头像",Name ="发哥",Title ="abcdefg"}}' />
        </TabItem>
        <TabItem Text="TimerAme">
            <TimerAme />
        </TabItem>
        <TabItem Text="IP">
            <Badge Color="Color.Success">
                IP: @WebClientInfo.ClientIpAddress;
            </Badge>
        </TabItem>
        <TabItem Text="Viewerjs">

            <div class="docs-galley22 mb-3">
                <ul id="immmmm" class="docs-pictures22 clearfix">
                    @{
                        var i = 0;
                        foreach (var item in Images)
                        {
                            <li><img src="@item"></li>
                            i++;
                        }
                    }
                </ul>
            </div>


            <Viewerjs ID="immmmm" Images="Images" UseInsideImagesDiv="false" />
            <Viewerjs  Images="Images"  />
        </TabItem>
        @*<TabItem Text="ViewerjsFull">
                <ViewerjsFull />
            </TabItem>*@

    </Tab>
}
<style>
    .docs-galley22 {
        padding: 40px;
        width: 600px;
    }

    .docs-pictures22 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .docs-pictures22 > li {
            border: 1px solid transparent;
            float: left;
            height: calc(100% / 6);
            margin: 0 -1px -1px 0;
            overflow: hidden;
            width: calc(100% / 6);
        }

            .docs-pictures22 > li > img {
                cursor: -webkit-zoom-in;
                cursor: zoom-in;
                width: 100%;
            }

    img {
        vertical-align: middle;
        border-style: none;
    }
</style>


@code{
}
