@page "/"
@attribute [TabItemOption(Text = "首页")]

<p></p>
<h4>Demo for Blazor & BootstrapBlazor</h4>
<p></p>
<p></p>
<p><a href="https://hk.app1.es/">blazor.app1.es(主)</a> <a href="https://hk.app1.es/">hk.app1.es(备用)</a></p>
<p><a href="https://www.cnblogs.com/densen2014/">博客园</a></p>
<p><a href="https://toutiao.com/c/user/53462780186/?from=qrcode">头条</a></p>
<p><a href="https://blog.csdn.net/alex_zoucn">CSDN</a></p>
<p><a href="https://www.zhihu.com/people/alex-chow-54">知乎</a></p>
<p><a href="https://www.zhihu.com/people/zhang-yan-78-53">爱吃油麦菜的知乎</a></p>
<p><a href="https://github.com/densen2014/Densen.Extensions?WT.mc_id=DT-MVP-5005078">GitHub</a></p>
<p><a href="https://gitee.com/densen2014/Densen.Extensions">Gitee</a></p>
<p><a href="https://github.com/densen2014/BlazorMaui?WT.mc_id=DT-MVP-5005078">BlazorMaui</a></p>
<p><a href="https://github.com/densen2014/BlazorHybrid?WT.mc_id=DT-MVP-5005078">BlazorHybrid</a></p>
<p><a href="https://www.nuget.org/profiles/DensenInformatica?WT.mc_id=DT-MVP-5005078">Nuget</a></p>
<p><a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages?WT.mc_id=DT-MVP-5005078">本站源码</a></p>
<p></p>
<p><a href="https://github.com/densen2014/Blazor100?WT.mc_id=DT-MVP-5005078">Blazor100</a></p>
<p><a href="https://github.com/densen2014/ZXingBlazor?WT.mc_id=DT-MVP-5005078">ZXingBlazor</a></p>
<p><a href="https://github.com/densen2014/BootstrapBlazor.PdfReader?WT.mc_id=DT-MVP-5005078">PdfReader</a></p>
<p><a href="https://github.com/densen2014/FreeSqlDemos?WT.mc_id=DT-MVP-5005078">FreeSqlDemos</a></p>


@*<pre>css tips:MainLayout.razor.css
    <code style="color:gray">
            .sidebar &lt;
                min-width: 250px;
            &gt;
            @@media (max-height: 850px) &lt;
            .sidebar &lt;
                height: unset;
            &gt;
            &gt;

        </code>
    </pre>
    <p></p>*@

v9.0.0