@page "/"
@attribute [TabItemOption(Text = "首页")]

<OCR ShowUI="true" Debug="true" />

<p></p>
<h2>Demo for Densen.Extensions.BootstrapBlazor</h2>
<h3>and Densen.Component.Blazor</h3>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h4><a href="https://github.com/densen2014/Densen.Extensions">GitHub</a></h4>
<p></p>
<h4><a href="https://gitee.com/densen2014/Densen.Extensions">Gitee</a></h4>
<p></p>
<p></p>
<p></p>


<pre>css tips:MainLayout.razor.css
<code style="color:gray">
        .sidebar &lt;
            min-width: 250px;
        &gt;
        @@media (max-height: 850px) &lt;
        .sidebar &lt;
            height: unset;
        &gt;
        &gt;

    </code>
</pre>
<p></p>
