@page "/maps"
@attribute [TabItemOption(Text = "谷歌地图 Maps")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.Maps#readme-body-tab"><h3>谷歌地图 Maps</h3></a>


<p>@message</p>

<Map OnError="@OnError" />

<AttributeTable Items="@GetAttributes()" />
