@page "/maps"
@attribute [TabItemOption(Text = "谷歌地图 Maps")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.Maps#readme-body-tab"><h3>谷歌地图 Maps</h3></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/MapsPage.razor"><h5>页面源码</h5></a>


<p>@message</p>

<Map OnError="@OnError" />

<AttributeTable Items="@GetAttributes()" />
