@page "/ofdReaders"
@attribute [TabItemOption(Text = "OFD阅读器")]
@using System.ComponentModel

<a href="https://www.nuget.org/packages/BootstrapBlazor.OfdReader#readme-body-tab"><h4>OFD阅读器 Ofd Reader</h4></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/OfdReaders.razor"><h5>页面源码</h5></a>

<OfdReader FileName=@FileName /> 