@page "/ofdReaders"
@attribute [TabItemOption(Text = "OFD阅读器")]
@using System.ComponentModel

<a href="https://www.nuget.org/packages/BootstrapBlazor.OfdReader#readme-body-tab"><h4>OFD阅读器 Ofd Reader</h4></a>
<hr />
<a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/DemoShared/Pages/OfdReaders.razor"><h5>页面源码</h5></a>

<div class="row g-3">
    <div class="col-12">
        <BootstrapInputGroup>
            <Button Color="Color.Primary" OnClick="Apply1">文件1</Button>
            <Button Color="Color.Primary" OnClick="Apply2">文件2</Button>
            <Button Color="Color.Primary" OnClick="Apply3">文件3</Button>
            <BootstrapInput @bind-Value="@FileName" />
            <Button Color="Color.Primary" OnClick="Apply">加载</Button> 
            <InputFile OnChange="OnChange" style="max-width: 400px" class="form-control" multiple accept='ofd/*' />

        </BootstrapInputGroup>
    </div>
</div>
<OfdReader FileName=@FileName /> 