@page "/pdfReaders"
@attribute [TabItemOption(Text = "PDF阅读器")]
@using MiniExcelLibs

<h4>PDF阅读器 Pdf Reader</h4>
<PdfReader PdfFile=@PdfFile
           OnInfo="OnInfo"
           OnError="OnError" />
<pre>@contents</pre>

<PdfReader UrlBase="https://blazor.app1.es/" PdfFile="_content/DemoShared/sample.pdf" EnableStreamingMode="true"  />

@code{
    private string contents;
#if DEBUG
    private string PdfFile = "https://localhost:5011/_content/DemoShared/sample.pdf";
#else
private string PdfFile = "https://blazor.app1.es/_content/DemoShared/sample.pdf";
#endif

    private Task OnInfo(string contents)
    {
        this.contents = contents;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private Task OnError(string contents)
    {
        this.contents = contents;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
