@page "/Speechs"
@attribute [TabItemOption(Text = "语音识别/合成")]

<a href="https://www.nuget.org/packages/BootstrapBlazor.WebAPI#readme-body-tab"><h3>语音识别/合成</h3></a>

<p>语音识别pc和ios测试无效,语音合成ios无效</p>

<WebApi @ref="webApi" />

<Button Text="语音识别" OnClick="SpeechRecognition" />
<Button Text="语音合成" OnClick="SpeechSynthesis" />


<p>
    @Message
</p>

@code{

    [NotNull]
    WebApi? webApi;

    string? Message { get; set; } = "";

    async Task SpeechRecognition()
    {
        Message= await webApi.SpeechRecognition();
    }

    async Task SpeechSynthesis()
    {
        await webApi.SpeechSynthesis("你好 blazor");
    }
}