@namespace AmeBlazor.Components

<div class="d-flex disabled">
	<div>
		<img src=@Url style='@Style' />
	</div>
	<div class="ps-2">
		<div>@Name</div>
		<div class="address">@Title</div>
	</div>
</div>