@page "/testcanvas"
@namespace DemoShared.Pages
@inherits AppComponentBase

@using BootstrapBlazor.Components

<div @ref="Element">
    <input type="file" id="upload" />;

    <canvas data-action="canvas" class="canvas"> </canvas>
    <pre data-action="log" class="photo"></pre>
</div>