
.canvas {
    width: 340px;
    height: 340px;
    background-color: beige;
}

.camera {
    width: 340px;
    display: inline-block;
}

.log {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}
 