<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barcodescanner">
                <span aria-hidden="true"></span> 扫码 Barcode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handwritten">
                <span aria-hidden="true"></span> 签名 Handwritten
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signaturepad">
                <span aria-hidden="true"></span> 签名 SignaturePad
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geolocations">
                <span aria-hidden="true"></span> 定位 Geolocation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewer">
                <span aria-hidden="true"></span> 图片浏览 Viewer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Bluetooth">
                蓝牙和打印 Bluetooth & Printer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="onscreenkeyboards">
                <span aria-hidden="true"></span> 屏幕键盘 OSK
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baidumap">
                <span aria-hidden="true"></span> 百度地图 Baidu Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="webapis">
                <span aria-hidden="true"></span> 系统信息 System info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maps">
                <span aria-hidden="true"></span> 谷歌地图 Maps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="charts">
                图表
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tablelazy">
                <span aria-hidden="true"></span> TableLazy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clock">
                <span aria-hidden="true"></span> Clock
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ip">
                <span aria-hidden="true"></span> IP
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
